@import "tailwindcss";


@font-face {
  font-family: 'myFont';
  src: url('../src/fonts/FlameRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
:root {
  font-family: myFont;

  color: rgba(129, 128, 128, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}





